@font-face {
  font-family: "Kanit";
  src: url(/Font/Kanit/Kanit-Regular.ttf);
}

body {
  font-family: "kanit" !important;
  background-color: #86a5c4 !important;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent background */
}

.navbar-brand,
.nav-link {
  color: #ffffff !important;
  font-weight: bold;
}

.nav-link:hover {
  color: #c1d7d0 !important; /* Link hover effect */
}

a {
    color: inherit !important;
    text-decoration: none !important;
  }

.service_section {
  position: relative;
}

.service_section .box {
  margin-top: 30px;
  text-align: center;
  -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.15);
  padding: 25px 15px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.service_section .box .img-box img {
  max-height: 100%;
  max-width: 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.service_section .box:hover {
  background-color: #F8D7C1;
  color: #ffffff;
}

.service_section .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 45px;
}

.service_section .btn-box a {
  display: inline-block;
  font-family: "Merriweather Sans", sans-serif;
  text-transform: uppercase;
  padding: 10px 45px;
  background-color: #0355cc;
  border: 1px solid #0355cc;
  border-radius: 0;
  color: #ffffff !important;
}

.service_section .btn-box a:hover {
  background-color: transparent;
  color: #0355cc !important;
}
